:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #fff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32cc;
  
    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);
  
    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
  }
  
body{
    border: 1px solid var(--highlight-color);
    width: 300px;
    height: 200px;
    margin: 5em auto;
    background-color: var(--app-background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}

#container{
    width: 100%;
    height: 100%;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

button {
    border-radius: 5px;
    background: var(--primary-color);
    border: none;
    color: var(--background-color);
    cursor: pointer;
    font-size: var(--root-font-size);
    outline-color: var(--highlight-color);
    text-align: center;
    width: 90px;
    height: 30px;
    margin: 3px;
  }

#scores{
    display: flex;
    width: 80%;
    height: auto;
    margin: .5em auto;
    gap: .5em;
}

span{
    border: none;
    border-radius: 3px;
    background-color: var(--highlight-color);
    color: var(--background-color);
    width: 50%;
    height: 110px;
    margin: 1em auto;
    text-align: center;
}