* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* background-color: darkgray; */
}

body {
    background-color: lightblue;
}

.n-squares {
    padding: 2rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: bisque;
    padding: 1rem;
    border-radius: 3px;
}

#container {
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 0.5rem auto;
    background-color: bisque;
}